<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>

<div class="search-container">
  <%= form_tag("/answer", method: "get") do %>
    <div class="search-bar">
      <%= text_field_tag(:question, nil, class: "search-input") %>
      <%= submit_tag("Ask", class: "btn btn-primary submit-button") %>
    </div>
  <% end %>
</div>
